@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: white;
    --cor-terciaria: #DB2418;
    --cor-strong: #D9236A;
    --cor-rover: #720455;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.checkbox {
    position: fixed;
    top: 20px;
    right: 20px;
    appearance: none;
    width: 60px;
    height: 30px;
    background: linear-gradient(to right, #444, #666);
    border: none;
    border-radius: 160px;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.checkbox::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 160px;
    transform: scale(0.9);
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

.checkbox:checked {
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}


.checkbox:checked::before {
    left: calc(100% - 30px);
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
}


.checkbox::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--cor-secundaria);
    transition: transform 0.3s ease;
}

.checkbox:checked::after {
    transform: translateX(30px);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

strong {
    color: var(--cor-strong);
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    border-right: 2px solid;
    border-right-width: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 4s,
        cursor .4s step-end infinite alternate;
}

.apresentacao-conteudo-titulo1 {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    border-right: 2px solid;
    border-right-width: 0;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    100% { border-color: black; }
}

@keyframes typing {
    from { width: 0; border-right-width: 2px; }
}

.destaque {
    color: var(--cor-terciaria);
}

.apresentacao-conteudo-texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-top: 20px;
}

.apresentacao-links-sub {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao-links-botao {
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    margin-bottom: 10px;
}

.apresentacao-links-botao:hover {
    color: var(--cor-primaria);
    cursor: pointer;
    padding: 3%;
    transition: 0.5s;
    letter-spacing: 0.25em;
    border-color: transparent;
}

.apresentacao-links-botao:hover::before {
    opacity: 1;
}

.apresentacao-links-botao:active::after {
    background: transparent;
}

.apresentacao-links-botao:active {
    color: #000;
    font-weight: bold;
}

.apresentacao-links-botao::before {
    content: '';
    background: linear-gradient(
        45deg,
        #9523D9, #D9237B, #D023D9, #8A66DB,
        #D46BD9, #910A67, #D46BD9, #D9237B
    );
    position: absolute;
    top: -10px;
    left: -10px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    filter: blur();
    animation: glowing 20s linear infinite;
    transition: opacity .0.3s ease-in-out;
    border-radius: 16px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.apresentacao-links-botao::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.apresentacao-links-botao img {
    width: 32px;
    height: 32px; 
    margin-right: 10px;
}

.preto-e-branco {
    max-width: 580px;
    filter: grayscale(100%);
}

.apresentacao-imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.rodape-about {
    z-index: 2;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }

    .apresentacao-conteudo-titulo {
        width: 100%;
        white-space: normal;
    }

    .apresentacao-conteudo-titulo1 {
        width: 40%;
        white-space: normal;
    }
}

@media (max-width: 768px) {
    .apresentacao-conteudo-titulo1 {
        width: 40%;
        white-space: normal;
    }

    @keyframes cursor {
        0% { border-color: black; }
        100% { border-color: black; }
    }
}
